@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Secular+One&display=swap');

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./src/1.jpg");
    background-size:100vw 100vh;
    overflow: hidden;
}
main{
    background-color: rgb(0, 0, 0);
    opacity: 0.7;
    border-radius: 2rem;
}
form{
    padding: 2rem;
}
input{
    width: 12rem;
    height: 1.8rem;
    background-color: #333;
    border: none;
    outline: none;
    border-radius: 0.75rem;
    color: #fff;
    padding: 0rem 2rem;
    font-size: 1.2rem;
    font-family: 'Righteous', cursive;
}
.fa-search{
    color: #fff;
    transition: 0.3s;
}
#icon{
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.5rem;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 3rem;
    transition: 0.3s;
}
#icon:hover{
    transform: translateY(-0.2rem);
    cursor: pointer;
}
.top{
    display: flex;
}
#cities{
    color: #fff;
}